
@{
    ViewBag.Title = "TinhTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="khachhang" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>Mã hoá đơn</th>
            <th>Mã Khách Hàng</th>
            <th>Điện năng tiêu thụ</th>
            <th>Tổng tiền</th>



        </tr>
        @using (Html.BeginForm("LapHoaDon", "QLHoaDon", FormMethod.Post))
        {

            <tr>
                <td>
                    <label>Mã hoá đơn</label><input type="text" name="mahd" />
                </td>
                <td>
                    <label>@ViewBag.makh</label><input type="text" value="@ViewBag.makh" name="makh" hidden="hidden" />
                </td>
                <td>
                    <label>@ViewBag.diennangtieuthu</label><input type="text" value="@ViewBag.diennangtieuthu" name="diennangtieuthu" hidden="hidden" />
                </td>
                <td>
                    <label>@ViewBag.tongsotien</label><input type="text" value="@ViewBag.tongsotien" name="tiendien" hidden="hidden" />
                    <input type="text" value="@ViewBag.chisocuoi" name="chisocuoi" hidden="hidden" />
                </td>
                <td><button type="submit" class="btn btn-primary">Lập hoá đơn</button></td>
            </tr>
            
        }


    </thead>
    <tbody></tbody>
</table>
